.home{
    font-size: 30px;
    font-weight: bold;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.content-footer{
    margin-top: 40px;
}

.footer{
    padding-bottom: 30px;
}

.level-item{
    color: lightgreen;
}
