.home{
    font-size: 30px;
    font-weight: bold;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.content-footer{
    margin-top: 40px;
}

.footer{
    padding-bottom: 30px;
}

.level-item{
    color: lightgreen;
}

.progress-box{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width:25%;
}

.progress-percent{
    font-weight: bold;
    text-align: center;
}

.panel{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.panel-tabs{
    font-size: large;
}

.field{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}


